@import url('./normalize.scss');

@import url('../fonts/Montserrat.scss');
@import url('../fonts/PlayfairDisplay.scss');

$phone: 600px;
$tablet: 900px;
$smallscreen: 1200px; 

.container {
    max-width: 1170px;
    padding: 0 30px;
    width: 100%;
    margin: 0 auto;
}

a {
    color: #fff;
}

body {
    color: #fff;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
}

// <========================= HEADER 

header {
    background: url(../img/bgc.png) center top no-repeat #696969;
    background-size: cover;

    padding: 30px 0 150px 0;
}

nav {
    .menu {
        display: flex;
        justify-content: space-between;
    }
}

.contact {
    display: flex;
    justify-content: space-between;

    margin-bottom: 20px;

    &__address,
    &__tel {
        font-size: 13px;

        &:hover {
            text-decoration: underline;
        }
    }
}

.menu {
    display: flex;
    justify-content: space-between;

    &__item {
        border: 1px solid #fff;
        width: 285px;
        padding: 15px 0;

        display: flex;
        justify-content: center;

        cursor: pointer;

        &:first-child {
            border-left: none;
        }

        &:last-child {
            border-right: none;
        }

        &:hover {
            background-color: #fff;

            .menu__link {
                color: black;
            }
        }
    }

    &__link {
        color: #fff;
        font-size: 14px;
    }

    margin-bottom: 583px;
}

.buttons {
    display: flex;
    justify-content: center;

    &__card,
    &__degustation {
        font-size: 16px;
        text-transform: uppercase;

        padding: 15px 30px;
        margin: 0 15px;

        cursor: pointer;

        background-color: #99862A;

        color: #fff;
        
        &:hover {
            transition: all 0.15s linear;
            box-shadow: 0px 0px 35px #99862A;
            background-color: #817223;
        }
    }
}

@media screen and (max-width: $tablet) {
    header {
        padding-bottom: 70px;
    }
    .menu {
        margin-bottom: 300px;
    }
    .buttons {
            &__card,
            &__degustation {
                font-size: 14px;
            }
    }

    .contact {
        flex-direction: column;
        align-items: flex-end;
		&__address {}

		&__tel {}
    }

    
    //burger-menu

    nav {
        height: 100%;
        background-image: radial-gradient(#696969, #3d3d3d);
        position: fixed;
        top: 0;
        left: -285px;

        transition: all 0.5s linear;

        &.active {
            left: 0;

            .burger {
                span {
                    transition: all 0.5s linear;
                    align-self: flex-start;
                    &:first-child {
                        width: 25%;
                        align-self: flex-start;
                        transform: rotate(-45deg) translate(-7px);
                    }
                    &:last-child {
                        width: 25%;
                        align-self: flex-start;
                        transform: rotate(45deg) translate(-7px);
                    }
                }
            }
        }

        .burger {
            display: inline-block;
            position: relative;
            margin: 0;
            right: -300px;
            top: 10px;

            cursor: pointer;

            width: 50px;
            height: 50px;

            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: center;

            padding: 15px 0;

            span {
                display: inline-block;
                width: 50%;
                height: 3px;

                background-color: #fff;
            }
        }

        .menu {
            flex-direction: column;
            
            &__item {
                border: none !important;
            }

            &__link {
                font-size: 25px;
            }

            &.active {
                left: 0;
            }
        }
    }

    header {
        padding-bottom: 30px;
    }
    .buttons {
            &__card,
            &__degustation {
                font-size: 12px;
            }
    }
}

// HEADER =========================>

main {
    padding: 100px 0;
    background-color: #282828;
}

// <========================= REVIEW

h2 {
    font-size: 36px;
    font-family: PlayfairDisplay, serif;
    color: #fff;
}

.review {
    &__box {
        border: 1px solid #fff;
        padding: 60px 187px;

        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        text-align: center;
    }

    &__line {
        border-bottom: 1px solid #fff;
        width: 160px;

        margin: 40px 0;
    }

    &__text {
        font-family: 'Montserrat', sans-serif;
        font-size: 16px;
        line-height: 24px;
        text-align: center;
        margin-bottom: 50px;
    }

    &__img {
        width: 160px;
        height: 160px;
    }
}

.container {

}

