@import url('./normalize.scss');

@import url('../fonts/Montserrat.scss');
@import url('../fonts/PlayfairDisplay.scss');

body {
    font-size: 35px;
}

.container {
    max-width: 1110px;
    width: 100%;

    height: 200px;

    background-color: violet;

    margin: 0 auto;
}

.montserrat-bold {   
    font-family: 'Montserrat';
    font-weight: 600;
}
.montserrat-med {
    font-family: 'Montserrat';
    font-weight: 500;
}
.montserrat-reg {
    font-family: 'Montserrat';
    font-weight: 400;
}

.playfair-g {
    font-family: 'PlayfairDisplay';
    font-weight: 400;
}